body {
  background-color: rgb(236, 236, 236);/*silver*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #000;
}

.center {
  margin: auto;
  max-width: 900px;
  padding: 10px 10px;
}

#aboutme {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.about-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-img img {
  width: 240px;
  height: auto;
  border-radius: 8px;
  margin: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
}

.about-text {
  max-width: 600px;
}

.about-text h2{
  margin-top: 0;
}

#aboutme p {
  max-width: 600px;
}

ul {
  padding-left: 20px;
}

#projects {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}

#projects video {
  width: 480px;
  height: auto;
  border-radius: 8px;
}

#projects p {
  max-width: 600px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0; 
}

.header-bar a {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: rgb(20, 5, 226);
}

.header-bar h2 {
  margin: 0;
  font-size: 1.3em;
}

hr {
  margin-top: 0;
}

#link-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#link-bar div {
  display: flex;
  gap: 40px; /* spacing between logos */
}

#link-bar img {
  height: 36px;    
  width: 36px;
  object-fit: contain;
  margin: 0 5px;  
  transition: transform 0.3s ease;
  cursor: pointer;
}

#link-bar img:hover {
  transform: scale(1.1);
}

#aboutme img:hover {
  transform: scale(1.05);
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ff8800;
  font-weight: bold;
}

video {
  margin-top: 10px;
  border-radius: 8px;
}

img.cuwall {
  width: 480px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  display: block;
}

#projects a {
  color: rgb(20, 5, 226);
  text-decoration: underline;
}

#projects li {
  margin-bottom: 30px;
}

.video-block {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
  color: #000000;
  font-size: 0.9em;
}